.feed {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.blogpost {
    max-width: 500px;
    border: 1px solid black;
    margin: 30px 0;
    border-radius: 20px;
}

.blogpost-post {
    display: flex;
    justify-content: center;

    img {
        width: 100%;
    }
}

.blogpost-content {
    padding: 10px;

    p {
        margin-bottom: 0px;
    }
}

.blogpost-title {
    p {
        margin-bottom: 0;
        padding: 10px;
    }
}