{% include "includes/header.html" %}

<div class="container-md">
    <div class="container-md">
        <div class="blogpost">
            <div class="blogpost-title">
                <h4>Hylke Storteboom</h4>
            </div>
            <div class="blogpost-post">
                <img src="{{ url_for('static', filename='favicon.png') }}">
            </div>
            <div class="blogpost-content">
                <p><strong>username</strong>Dit is beschrijving van een post</p>
            </div>
        </div>
    </div>
</div>

{% include "includes/footer.html" %}
