{% include "includes/header.html" %}

<div class="container-md">
    <div class="container-md feed">
        <div class="blogpost">
            <div class="blogpost-title">
                <p>@hylkestorteboom</p>
            </div>
            <div class="blogpost-post">
                <img src="{{ url_for('static', filename='favicon.png') }}">
            </div>
            <div class="blogpost-content">
                <p><strong>hylkestorteboom</strong> - Dit is beschrijving van een post</p>
            </div>
        </div>
        <div class="blogpost">
            <div class="blogpost-title">
                <p>@levano</p>
            </div>
            <div class="blogpost-post">
                <img src="{{ url_for('static', filename='favicon.png') }}">
            </div>
            <div class="blogpost-content">
                <p><strong>levano</strong> - Dit is beschrijving van een post</p>
            </div>
        </div>
    </div>
</div>

{% include "includes/footer.html" %}
